version: "3.8"

services:
  video-downloader-bot:
    build: .
    container_name: telegram-video-bot
    restart: unless-stopped
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
    volumes:
      - ./temp:/tmp/video_downloads
    # Ограничение ресурсов
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 512M